
  <div class="jumbotron">
    <h1 class="display-3">Events</h1>
    <p class="lead">Here you can create and check the upcomming events in your city.</p>
    <hr class="my-1">
    <app-event-add (createEvent)="addEvent($event)"></app-event-add>
  </div>


<H2>Upcomming Events</H2>
<br>
    <table class="table table-sm table-responsive-md">
      <thead>
        <tr>
          <th scope="col">Event Name</th>
          <th scope="col">Date</th>
          <th scope="col">Venue</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor= "let event of events">
          <th scope="row" >{{event.name}} </th>
          <td>{{event.date}}</td>
          <td>{{event.venue.name}}</td>
          <td>{{event.venue.city}}</td>
          <td>{{event.venue.state}}</td>
        </tr>
      </tbody>
    </table>
  


